@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;}
* focus {outline: none;margin: 0;padding: 0;}
a:focus {outline: none;}
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;}
td, th { padding: 1px; }
q:before, q:after {content:" ";}
input, textarea, select {font-family:inherit;font-size:inherit;font-weight:inherit;}
.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fix{display:inline-block;}
* html .fix {height:1%;} 
*+html .fix { min-height:1%; }/* ie7 hack*/ 
.fix {display:block;}
.clea{clear:both;line-height:0;font-size:0;}
.clean{clear:both;line-height:0;font-size:0;height:10px;}
ul,ol {list-style-type:none;}
a{text-decoration:none;color:#666666;}
a:hover {color:#0099cc;}
.fl {float:left;}
.fr {float:right;}
.blue{color:#33b0f0;}
.orange{color:#ff6600;}
.black{color:#000;}
.mart{margin-top:20px;}
.mart10{margin-top:10px;}
.marb25{width:auto;height:25px;line-height:25px;overflow:hidden;}
.padd_20{padding:20px;}
.padd_28{padding:28px;}
.h_line{margin-top:10px;border-top:1px #cdcdcd solid;}
.com_b{background-color:#fff;border:1px #cccccc solid;}
h1 {font-size:30px; line-height:46px;font-family:"Microsoft YaHei",tahoma,arial,san-serif;font-weight:normal;color:#444;}
h2 {font-size:24px; line-height: 32px;font-family:"Microsoft YaHei",tahoma,arial,san-serif;font-weight:normal;color:#444;}
h3 {font-size:18px; line-height: 26px;font-family:"Microsoft YaHei",tahoma,arial,san-serif;font-weight:normal;color:#444;}
h4 {font-size:14px; line-height: 28px;}
h5 {font-size:12px; line-height: 24px;}
h2 a, h3 a{text-decoration:none;color:#444;}
h2 a:hover, h3 a:hover{text-decoration:none;color:#444;}

.s960 a,.s960 img{display:block;}
/*---------------custom--------------------*/
body {background-color:#f3f3f3;font:14px/1.5 Arial,"\5b8b\4f53";margin:0 auto;text-align:center;color:#666666;}
.body_w{position:relative;background-color:#fff;z-index:20;width:100%;min-width:1002px;}
.wrapper,.header{position:relative;width:1002px;margin:0 auto;text-align:left;}
.logo a, .gz_list li, .go_tabs li,.JQ-slide-nav a, .star,.star_now, .search_btn, .ls_txt, .ct_txt, .c_close, .m_ci_t_pre, .m_ci_t_next{background:url(../images/img.png) no-repeat 0 0;}
.i_so, .b_t, .b_b{background:url(../images/pic_img.png) no-repeat 0 0;}

.header{position:relative;height:95px;z-index:10;/*background:url(../images/miao_img.jpg) no-repeat 50% 0;*/}
.logo{float:left;width:126px;height:38px;padding:28px 0;overflow:hidden;}
.logo a{display:block;width:126px;height:38px;text-indent:-999em;}

/* 城市选择 */
.turn_city{position:relative;display:inline;margin:0 28px;padding:38px 0 0;z-index:100;}
.turn_city span.t_c_box{position:relative;float:left;display:block;padding:0 28px 0 4px;height:24px;line-height:24px;color:#666;text-align:center;cursor:pointer;border:1px #66ccff solid;}
.turn_city span.t_c_box em{position:absolute;top:0;right:0;width:22px;height:24px;border-left:1px #66ccff dashed;}
.turn_city span.t_c_box i{display:block;width:22px;height:24px;background:url(../images/min_ico.png) no-repeat 50% 50%;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.turn_city span.t_c_box i.cur{-webkit-transform:rotate(180deg);transform:rotate(180deg);}

.turn_city .t_c_list{position:absolute;top:63px;left:0;width:480px;height:240px;background:#fff;border:1px #66ccff solid;padding:10px;z-index:200;font-size:12px;}
.turn_city .t_c_list .city_hot{padding:0 3px;text-align:left;border-bottom:1px dotted #D2D2D2;margin-bottom: 5px;padding-bottom: 5px;}
.turn_city .t_c_list .city_hot strong, .turn_city .t_c_list .city_hot a{display: inline-block;padding: 0 4px 2px;padding: 2px 4px 0\9;_padding: 0 4px 2px;margin: 3px}
.turn_city .t_c_list .city_hot a.cur{background:#66ccff;color:#fff;}
.turn_city .t_c_list .city_all{height: 200px;overflow-x: hidden;overflow-y:auto;}
.turn_city .t_c_list .city_all ul{width:480px;_width: 465px;}
.turn_city .t_c_list ul li {vertical-align: top;*display:inline;overflow: hidden;zoom: 1}
.turn_city .t_c_list .city_all ul li strong {float:left;margin-top: 3px;text-indent: 4px;width: 25px;color:#33b0f0;}
.turn_city .city_hot strong {margin: 3px -10px 3px 0}
.turn_city .t_c_list .city_all ul li p {float:left;width:440px;}
.turn_city .t_c_list .city_all ul li p a{display: inline-block;padding: 0 4px 2px;padding: 2px 4px 0\9;_padding: 0 4px 2px;margin: 3px}
.turn_city .t_c_list .city_all ul li p a.cur{background:#66ccff;color:#fff;}

.t_nav{position:absolute;right:0;top:40px;color:#33b0f0;}
.t_nav a{margin:0 5px;}

/* 菜单 */
.b_blue{position:relative;width:100%;min-width:1002px;background:url(../images/nav_bg.png) repeat-x;border-bottom:1px #bfbfbf solid;z-index:10;}
 .main_nav{position:relative;width:1002px;margin:0 auto;text-align:left;}
.m_nav_list li{float:left;position:relative;height:40px;line-height:40px;background:url(../images/nav_list.png) no-repeat 0 0;}
.m_nav_list li.home{background:none;}
.m_nav_list li a{display:block;padding:0 34px;font:18px/40px "Microsoft YaHei",tahoma,arial,san-serif;color:#fff;}
.m_nav_list li a.cur, .m_nav_list li a:hover{color:#003366;}
.m_nav_list li .sec_nav{position:absolute;left:0;top:40px;height:38px;width:250px;font-size:14px;}

.m_nav_list li .sec_nav .sec_l{position:absolute;left:46px;top:-7px;background:url(../images/sec_l.png) no-repeat 0 0;width:15px;height:8px;}
.m_nav_list li .sec_nav ul{float:left;background:#fff;border:1px #d3d3d3 solid;border-radius:3px;box-shadow:1px 2px 2px rgba(0,0,0,.2);}
.m_nav_list li .sec_nav li{background:none;height:36px;line-height:36px;}
.m_nav_list li .sec_nav li a{display:inline-block;font-size:14px;line-height:36px;padding:0 10px;color:#666666;}

/* 轮换图 */
.hm_box{width:296px;height:180px;}
.hm_box .pic{float:left;width:156px;}
.hm_box .pic a{display:block;width:145px;height:178px;}
.hm_box img{display:block;width:137px;height:170px;padding:3px;border:1px #cccccc solid;}
.hm_box .pic a:hover img{border:1px #09a2dc solid;}
.hm_box .cont{float:left;width:132px;}
.hm_box .cont-re h3{width:132px;height:24px;line-height:24px;white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.hm_box .cont h3, .hm_box .cont p{height:24px;line-height:24px;overflow:hidden;margin-bottom:5px;}
.hm_box .cont p{height:24px;line-height:24px;overflow:hidden;margin-bottom:5px;}
.hm_box .cont .w{display:inline-block;background-color:#ff6600;padding:0 8px;color:#fff;}
.hm_box .cont .y{display:inline-block;background:url(../images/y_ico.png) no-repeat 100% 50%;padding:0 13px 0 0;}

.star,.star_now{display:block;width:71px;height:17px;background-position:0 -180px;}
.star_now{background-position:0 -206px;}

.pic_lsit{}
.pic_lsit li{float:left;display:inline;margin:0 10px;}
.pic_lsit li .pic{display:block;width:137px;height:170px;overflow:hidden;padding:3px;border:1px #cccccc solid;margin-bottom:4px;}
.pic_lsit li .pic:hover{border:1px #0099cc solid;}
.pic_lsit li .con{padding:0 3px;}
.pic_lsit li h3{height:26px;width:137px;white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;margin-bottom:4px;}
.pic_lsit li .s{position:relative;width:100px;}
.pic_lsit li .s .score{position:absolute;right:0;top:0;line-height:16px;}


/* 弹窗 */
.zhezhao{position:fixed !important;position:absolute;width:100%;height:100%;/*background:url(../images/black.png);*/background:black;opacity:0.5;filter:alpha(opacity=50);left:0;top:0;z-index:100;display: none;}
.c_tips{position:fixed !important;position:absolute;width:334px;background:#fff;left:50%;top:40%;margin-left:-167px;border:1px #cccccc solid;z-index:1000;display: none;}
.c_tips_log{width:490px;margin-left:-245px;}
.c_tips_area{width:780px;margin-left:-390px;}
.c_tips_cont{padding:20px;text-align:left;}
.ct_txt{background-position:-196px -500px;padding-left:24px;font:22px/26px "Microsoft YaHei";color:#444444;font-weight:normal;margin-bottom:12px;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}
.ct_wrapper{padding:15px 0 15px;}
.c_item{position:relative;width:262px;margin-bottom:8px;}
..c_item .t{float:left;width:70px;}
.c_ip, .c_ip_2{border:1px #b3b3b3 solid;height:20px;line-height:20px;width:160px;font-size:12px;}
.c_ip_2{width:180px;}
.c_ip_1{display:inline-block;width:100px;font-size:12px;}
.c_item a.recode{position:absolute;right:6px;top:0;display:inline-block;background-color:#e0e0e0;width:74px;height:22px;line-height:22px;text-align:center;font-size:12px;}
.c_tips_btn{text-align:center;}
.c_tips_btn_sure{text-align:right;}
.c_tips_btn a{display:inline-block;background:#47b7ff;border:1px #0099ff solid;font:14px/26px "Microsoft YaHei";color:#fff;text-align:center;padding:0 12px;margin:0 16px;}

.l_tips{font-size:12px;}
.l_log_wrap{padding:20px;}
.l_log_wrap .h{text-align:center;}
.l_log_wrap .red{color:#ff0000;}
.l_log_wrap .lint{padding-left:20px;}

.tip_h3{padding-top:15px;}
.tip_list{padding-left:15px;}
.tip_list li{height:28px;line-height:28px;}
.c_blue{color:#0063dd;}
.tip_info{padding:0 0 5px 15px;font-size:12px;}
/* 弹窗2*/
.zhezhao2{position:absolute;width:100%;height:100%;background:url(../images/black.png);left:0;top:0;z-index:100;}
.c_tips2{position:absolute;width:334px;background:#fff;left:50%;top:40%;margin-left:-167px;border:1px #cccccc solid;z-index:1000;}
.c_tips_cont2{padding:20px;text-align:left;}
.ct_txt2{background-position:-196px -500px;padding-left:24px;font:22px/26px "Microsoft YaHei";color:#444444;font-weight:normal;margin-bottom:12px;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}
.ct_wrapper2{padding:15px 0;margin-left: 64px;}
.ct_wrapper2 p{margin-bottom:10px;}
.c_item{position:relative;width:262px;margin-bottom:8px;}
..c_item .t{float:left;width:70px;}
.c_ip2, .c_ip_2{border:1px #b3b3b3 solid;height:20px;line-height:20px;width:160px;font-size:12px;}
.c_ip_2{width:180px;}
.c_ip_1{display:inline-block;width:100px;font-size:12px;}
.c_item a.recode{position:absolute;right:6px;top:0;display:inline-block;background-color:#e0e0e0;width:74px;height:22px;line-height:22px;text-align:center;font-size:12px;}
.c_tips_btn2{text-align:center;}
.c_tips_btn2 a{display:inline-block;background:#47b7ff;border:1px #0099ff solid;font:14px/26px "Microsoft YaHei";color:#fff;text-align:center;padding:0 12px;margin:0 16px;}


/* 弹窗3*/
.zhezhao3{position:absolute;width:100%;height:100%;background:url(../images/black.png);left:0;top:0;z-index:100;}
.c_tips3{position:absolute;width:400px;background:#fff;left:50%;top:40%;margin-left:-167px;border:1px #cccccc solid;z-index:1000;}
.c_tips_cont3{padding:20px;text-align:left;}
.ct_txt3{background-position:-196px -500px;padding-left:24px;font:22px/26px "Microsoft YaHei";color:#444444;font-weight:normal;margin-bottom:12px;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}
.ct_wrapper3{padding:15px 0;}
.ct_wrapper3 p{margin-bottom:10px;float:left;width:120px;}
.c_item{position:relative;width:262px;margin-bottom:8px;}
..c_item .t{float:left;width:70px;}
.c_ip3, .c_ip_2{border:1px #b3b3b3 solid;height:20px;line-height:20px;width:160px;font-size:12px;}
.c_ip_2{width:180px;}
.c_ip_1{display:inline-block;width:100px;font-size:12px;}
.c_item a.recode{position:absolute;right:6px;top:0;display:inline-block;background-color:#e0e0e0;width:74px;height:22px;line-height:22px;text-align:center;font-size:12px;}
.c_tips_btn3{text-align:center;}
.c_tips_btn3 a{display:inline-block;background:#47b7ff;border:1px #0099ff solid;font:14px/26px "Microsoft YaHei";color:#fff;text-align:center;padding:0 12px;margin:0 16px;}

/* 弹窗4*/
.zhezhao4{position:absolute;width:100%;height:100%;background:url(../images/black.png);left:0;top:0;z-index:100;}
.c_tips4{position:absolute;width:863px;background:#fff;left:50%;top:40%;margin-left:-425px;border:1px #cccccc solid;z-index:1000;}
.c_tips_cont4{padding:20px;text-align:left;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}
.c_tips4 .addJuan{margin-left: 17px;margin-top: 12px;border-bottom:1px dashed #cfcfcf;padding-bottom: 16px;}
.c_tips4 .addJuan .entryJuan{height:29px;margin-top: 10px; margin-left: 154px;}
.c_tips4 .addJuan .entryJuan span{display:block;float:left;}
.c_tips4 .addJuan .entryJuan a{display:block;float:left;}
.c_tips4 .addJuan .entryJuan input{height:27px;line-height:27px;text-align:center;color:#b7b7b7;margin-right:34px;}
.c_tips4 .chooseJuan{margin-left: 17px;margin-top: 15px;}
.c_tips4 .chooseJuan .everJuan{margin-left: 120px;}
.c_tips4 .chooseJuan .everJuan span{display:block;float:left;}
.c_tips4 .chooseJuan .everJuan .juanName{font-weight:bold;}
.c_tips4 .chooseJuan .everJuan .juanData span{color:#989898;font-size:12px;height:26px;line-height:26px;}
.c_tips4 .chooseJuan .everJuan .juanName span{margin-right: 60px;}
.c_tips4 .chooseJuan .everJuan .showJuan{margin-top:5px;}
.c_tips4 .chooseJuan .everJuan .juan2{margin-top:20px;}
.c_tips4 .tips{margin-left: 60px; width: 700px; margin-top: 30px;}
.c_tips4 .tips p{line-height: 30px;}

/* 弹窗5*/
.zhezhao5{position:absolute;width:100%;height:100%;background:url(../images/black.png);left:0;top:0;z-index:100;}
.c_tips5{position:absolute;width:317px;background:#fff;left:50%;top:40%;margin-left:-202px;border:1px #cccccc solid;z-index:1000;}
.c_tips_cont5{padding:20px;text-align:left;}
.c_tips_cont5 span{display:block;float:left;}
.c_tips_cont5 a{display:block;float:left;}
.c_tips_cont5 input{display:block;float:left;width: 68px; height: 22px; line-height: 22px;margin-left: 10px;margin-right: 10px;}
.c_tips_cont5 a.c_close{float:none;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}

/* 弹窗6*/
.zhezhao6{position:absolute;width:100%;height:100%;background:url(../images/black.png);left:0;top:0;z-index:100;}
.c_tips6{position:absolute;width:340px;background:#fff;left:50%;top:40%;margin-left:-202px;border:1px #cccccc solid;z-index:1000;}
.c_tips_cont6{padding:20px;text-align:left;}
.c_tips_cont6 span{display:block;float:left;}
.c_tips_cont6 a{display:block;float:left;}
.c_tips_cont6 input{display:block;float:left;width: 150px; height: 22px; line-height: 22px;margin-left: 10px;margin-right: 10px;color:#d5d5d5;padding-left:10px;}
.c_tips_cont6 a.c_close{float:none;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}

/* 弹窗7*/
.zhezhao7{position:absolute;width:100%;height:100%;background:url(../images/black.png);left:0;top:0;z-index:100;}
.c_tips7{position:absolute;width:317px;background:#fff;left:50%;top:40%;margin-left:-202px;border:1px #cccccc solid;z-index:1000;}
.c_tips_cont7{padding:20px;text-align:left;}
.c_tips_cont7 span{display:block;float:left;}
.c_tips_cont7 a{display:block;float:left;}
.c_tips_cont7 input{display:block;float:left;width: 68px; height: 22px; line-height: 22px;margin-left: 10px;margin-right: 10px;}
.c_tips_cont7 a.c_close{float:none;}
.c_close{position:absolute;right:8px;top:8px;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}

#footer{background-color:#33b0f0;width:1002px;margin:0 auto;margin-top:20px;padding:12px 0;text-align:center;color:#fff;}
#footer a{color:#fff;}
#footer p.frlink a{color:#fff;margin:0 4px;}
#footer ul{position:relative;left:50%;float:left;padding:15px 0 10px;font-size:12px;}
#footer ul li{position:relative;left:-50%;float:left;padding:0 10px;}

/*想看按钮*/
.look-new{margin-top:10px;}
.look-new span{font-size:12px;line-height:26px;}
.look-new em{font-weight:normal;margin:0 4px;}
.look-new a.tlook{float:left;display:inline;background:url(../images/f_ico.png) no-repeat 0 0;width:113px;height:26px;line-height:26px;margin-right:14px;}
.look-new a.tlook:hover{background-position:0 -29px;}
.look-new a.tlook span{display:inline-block;padding-left:30px;width:38px;}
.look-new a.tlook em{display:inline-block;text-align:center;width:42px;margin:0 0;}

/*2014.3.4 start*/
.login_tips{position:fixed !important;position:absolute;width:404px;background:#fff;left:50%;top:50%;margin-left:-202px;margin-top:-136px;border:1px #cccccc solid;z-index:1000;display: none;}
.remindimg{font-weight:normal;height:26px;font-size:14px;margin-bottom:5px;}
.remindBlock{height:20px;line-height:20px;padding:0px 0px 0px 74px;font-size:12px;color:red;}
.login_ip{border:1px #b3b3b3 solid;height:24px;line-height:24px;width:230px;font-size:12px;padding-left:2px;}
.confirm_btn a{padding:0px 20px;}
/*2014.3.4 end*/

/*2014.3.26 start*/
.remUser{padding-right:30px;font-size:14px;}
.remUser input{margin-right:5px;}
.total-num{line-height:30px;}
/*2014.3.26 end*/

.nodata{text-align:center;margin:40px 0 50px;}
.loading_pop{width:200px;height:50px;background:url(../images/loading26.gif) 20px center no-repeat;display:none;}
.wating_msg{padding-left:60px;line-height:50px;color:#FFF;}
.pop_close{position:absolute;right:8px;top:8px;background:url(../images/img.png) no-repeat 0 0;background-position:0 -331px;width:19px;height:19px;text-indent:-999em;}
.loading_city{text-align:center;margin-top:100px;}
.contact_p .errorMsg{text-align:center;color:#f85f43;font-size:14px;font-weight:bold;}
.waiting-pop{width:80px;height:80px;position:fixed !important;position:absolute;background:black;opacity: 0.3;filter: alpha(opacity=30);left:50%;top:50%;margin-left:-40px;margin-top:-40px;z-index:999;border:1px solid white;color:white;border-radius:10px;}
.waiting-pop .waiting-con{width:80px;height:80px;margin:0px auto;background:url('../images/loading.gif') center no-repeat;line-height:80px;}
#sharecon  a{margin:3px 1px 0px;}

.tianyi{padding:30px 0px;}
.tianyi a{background:url(../images/logo_ty.png) no-repeat;padding-left:35px;float:right;padding-right:8px;}
.logo_tianyi{background:url(../images/logo_ty.png) no-repeat;padding-left:30px;}

.logos{width: 200px;height:50px;margin:0 auto;margin-top: 30px;}
.logos .logosDiv{position: relative;margin-left: 30px;}
.logos .logosDiv b{font-size:16px;float: left;}
.logos  img{float: left;margin-top:-9px;}

.sms-vfy{position: absolute;width: 200px;top: 36px;right: 180px;height: 30px;line-height: 30px;}
.sms-vfy input{width:100px; height: 20px;}
.sms-vfy a{position: absolute;background: #c9c9c9; display: block;text-align: center;height: 25px; line-height: 25px; border: 1px #b3b3b3 solid;width: 80px;font-size: 12px;right: 0;top:1px;color: #35342f;}
.sms-vfy a:hover{text-decoration: underline;}
