
/* 资讯内容 */
.zx_wrapper{float:left;width:640px;padding:20px 20px;}
.zx_wrapper h1.txt{font-size:24px;text-align:center;margin-bottom:10px;}
.zx_wrapper .infos{position:relative;margin-bottom:15px;text-align:center;font-size:12px;color:#9b9a9a;}
.zx_wrapper .infos .t{margin:0 20px;}
.zx_wrapper .infos .fx{position:absolute;right:0;top:0;_right:25px;}
.zx_wrapper .infos .fx span.fx_txt{float:left;}
/*.zx_wrapper .infos .fx a{display:inline-block;background:url(../images/fx_ico.png) no-repeat;width:16px;height:16px;margin:0 1px;}*/
.zx_wrapper .infos .fx a{display:inline-block;margin:0 1px;}
.zx_wrapper .infos .fx a.fx_1{background-position:0 0;}
.zx_wrapper .infos .fx a.fx_2{background-position:-22px 0;}
.zx_wrapper .infos .fx a.fx_3{background-position:-44px 0;}
.zx_wrapper .infos .fx a.fx_4{background-position:-66px 0;}
.zx_wrapper .infos .fx a.fx_5{background-position:-88px 0;}
.zx_wrapper .dec{background:#efefef;padding:10px;margin-bottom:15px;line-height:24px;font-size:12px;}
.art_h{}
.art_h p{margin-bottom:20px;line-height:24px;}
.art_h img{display:block;margin:0 auto;}
.fromto{padding-top:10px;text-align:right;}

.zx_side{float:right;width:280px;padding:12px;}
.zx_side h2{margin-bottom:10px;}
.zx_tou{border-bottom:1px #ccc dashed;padding-bottom:6px;margin-bottom:10px;}
.zx_tou .pic{margin-bottom:5px;}
.zx_tou .pic a,.zx_tou .pic img{display:block;}
.zx_tou p{font-size:12px;}
.zx_mlist{margin-bottom:20px;}
.zx_mlist li{font-size:12px;height:30px;line-height:30px;overflow:hidden;}

.pic_step{margin-bottom:15px;text-align:center;}
.pic_step a, .pic_step span{display:inline-block;height:24px;line-height:24px;margin:0 15px;}
.pic_step a{background:url(../images/img.png) no-repeat 0 0;}
.pic_step a.pre{background-position:-192px -578px;padding-left:26px;}
.pic_step a.next{background:url(../images/n_next_ico.png) no-repeat 100% 0;padding-right:32px;}
.pic_step a.auto{background-position:-192px -676px;padding-left:26px;}
.pic_step a.stop{background-position:-192px -642px;padding-left:26px;}

.s_pic_show{background:#efefef;padding:10px 10px;margin-top:20px;border-radius:4px;}
.s_p{width:106px;padding-top:6px;}
.s_p .pic{background:url(../images/img.png) no-repeat 0 -510px;padding:3px 6px 6px 3px;width:97px;height:61px;margin-bottom:5px;}
.s_p .pic a, .s_p .pic img{display:block;width:97px;height:61px;}
.s_p .txt{text-align:center;font:12px/20px "\5b8b\4f53";}
.s_p .txt a{color:#0099cc;}

.scr_cont{padding:0 6px;width:394px;}
.scr_cont .s{width:18px;padding-top:12px;}
.scr_cont .s a{display:block;background:url(../images/img.png) no-repeat 0 0;width:13px;height:68px;}
.scr_cont .s a.s_pre{background-position:-116px -510px;}
.scr_cont .s a.s_next{background-position:-140px -510px;}
.scr_cont .s_cont{float:left;width:358px;height:88px;overflow:hidden;}
.scr_cont .s_cont ul{width:1000px;}
.scr_cont .s_cont li{float:left;display:inline;margin:0 3px;padding-top:4px;width:83px;}
.scr_cont .s_cont li.cur{background:url(../images/s_jt.png) no-repeat 50% 0;}
.scr_cont .s_cont li a{display:block;border:3px #efefef solid;}
.scr_cont .s_cont li.cur a{border:3px #69cef6 solid;}
.scr_cont .s_cont li img{display:block;width:75px;height:75px;border:1px #fff solid;}

/* 条例 */
.tl_art h1{text-align:center;margin-bottom:20px;}
.tl_cont{}
.tl_cont dl{margin-bottom:20px;}
.tl_cont dt{font-weight:bold;margin-bottom:5px;}
.tl_cont dd{text-indent:2em;margin-bottom:10px;line-height:24px;}

/* 会员章程 */
.c_table{ }
.c_table td, .c_table th{border:1px #7e7e7e solid;padding:6px;color:#4c4c4c;font-size:12px;}
.c_table th{background:#cecece;color:#000;font-size:14px;text-align:center;}
.contact_title{height: 30px;padding: 0 0 10px;margin: 0 0 20px;font-size: 28px;color: #666;font-weight: normal;border-bottom: 1px solid #ddd;}
.contact_p{padding: 60px 0 200px;width:870px;margin:0px auto;}
.contact_p p{line-height: 40px;font-size: 14px;color: #666;}
/*院线通服务条例*/
.membercon{padding:0 30px;text-align:justify;text-justify:inter-ideograph;}
.membercon p{line-height:22px;}
.membercon .title{width:928px;height:46px;line-height:46px;font-weight:bold;font-size:18px;text-align:center;}
.membercon .sectitle{font-size:14px;font-weight:bold;line-height:40px;color:#666;}
.membercon .fourtitle{padding-left:12px;line-height:26px;}
.membercon .lastline{font-size:14px;padding-bottom:50px;padding-top:15px;padding-left:19px;}
.mid_res{font-size: 14px;}
.mid_res table{margin-left: 50px;line-height: 30px;}
.mid_res table .firstTd{text-align: right;width: 150px;}
.mid_res table .secTd{width: 60px;}
.mid_res table .secTd img{margin-top: 6px;}
.mid_res table .threeTd{width:500px;color: #9e1826;font-weight: bold;}
.mid_res .titlerule{text-align: center;color: #282828;font-weight: bold;font-size: 16px;}
.mid_res .rulecon{padding:0px 24px  40px;font-size: 14px;line-height: 22px;}
.mid_res .rulecon .titlecol{color: #282828;font-weight: bold;}
.mid_res .rulecon .priceMem{width:520px;}
.mid_res .rulecon .priceMem table{margin:0;width:100%;margin:10px 0 10px 80px;}
.mid_res .rulecon .priceMem table th,.mid_res .rulecon .priceMem table td{border:1px solid #ff7e00;padding:5px;line-height: 20px;text-align: center;}
.mid_res .rulecon .priceMem table th{background: #ffce25;color: #ff5c02;font-weight: normal;}
.mid_res .rulecon .priceMem table .lefttext{text-align: left;}
.activity-tit{margin:10px 20px 15px;border-bottom:1px #d0d0d0 dashed;line-height:45px;text-align:center;font-size:12px;}
.activity-tit .titleOne{font-size:24px;font-weight:bold;}
.zx_wrapper .infos_828{height:20px;}
